{% extends "base.html" %}

{% block head %}

<title> Feedback </title>

{% endblock %}

{% block body %}


    <div class="welcome" style="display: flex; position: fixed; justify-content: center;">
        <h1 align="center"> Welcome to the Feedback Application</h1>
        
    </div>

    <div>

        <h2>
            Overview:
        </h2>
    
        <p>
            Our Feedback Application is designed to collect and display user 
            feedback in a simple and intuitive way. Whether you have 
            suggestions, comments, or just want to share your thoughts, 
            we want to hear from you!
        </p>

    </div>

    <div>

        <h2>
            Features:
        </h2>

        <ul>
            <li>
                <p>
                    <span class="sub-topic">Submit Feedback:</span> Use our easy-to-fill feedback form to share your 
                    experiences or suggestions.
                </p>

            </li>

            <li>
                <p>
                    <span class="sub-topic">View Feedback:</span> Check out what others have said by visiting the 
                    feedback page.
                </p>

            </li>

            <li>
                <p>
                    <span class="sub-topic">Summary:</span>  Get a quick overview of all submissions, including the total 
                    number of responses and the latest feedback.
                </p>

            </li>
        </ul>
    
    
        
    </div>

    <div>

        <h2>
            How It Works:
        </h2>

        <ul>
            <li>
                <p>
                    <span class="sub-topic">Navigate to the Feedback form:</span> Click the link below to go the
                        feedback form page.
                </p>

            </li>

            <li>
                <p>
                    <span class="sub-topic">Submit your feedback:</span>  Fill out your name and comments, then
                    submit your form.
                </p>

            </li>

            <li>
                <p>
                    <span class="sub-topic">View Submitted Feedback:</span>  Go to the feedback page to see all
                    the feedback submitted by users.
                </p>

            </li>

            <li>
                <p>
                    <span class="sub-topic">Check the summary:</span>  Visit the summary page for an 
                    overview of all submissions.
                </p>

            </li>
        </ul>

    </div>

    <div>

        <h2>

            Get Started:
        </h2>

        <p>
            We appreciate your input! Click the button below to begin your 
            feedback.
        </p>
    </div>

    <div >
        <a class="link" href="/form">
            Go to Feedback Form
        </a>
    </div>
    



    
</div>



<!-- <form action="/" method="post">
    <label
    <p> <input type="text" name="Name"></p>
    <p><input type="submit" value= "Submit"></p>
</form> -->

{% endblock %}